In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('uber_data.db')

In [3]:
df_uber = pd.read_csv('ncr_ride_bookings.csv')

In [4]:
df_uber.to_sql('rides',conn, if_exists = 'replace', index=False)

150000

In [5]:
df_rides = pd.read_sql("SELECT * FROM rides", conn)

In [6]:
df_rides.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

### Data Cleaning and Preparation

In this phase, I prepared the raw dataset for analysis by handling missing values (NaN). These were filled with relevant values or placeholder text where appropriate.

In [7]:
df_rides['Avg VTAT'] = df_rides['Avg VTAT'].fillna(df_rides['Avg VTAT'].median())
df_rides['Avg CTAT'] = df_rides['Avg CTAT'].fillna(df_rides['Avg CTAT'].median())
df_rides['Cancelled Rides by Customer'] = df_rides['Cancelled Rides by Customer'].fillna(0)
df_rides['Reason for cancelling by Customer'] = df_rides['Reason for cancelling by Customer'].fillna('Unknown')
df_rides['Cancelled Rides by Driver'] = df_rides['Cancelled Rides by Driver'].fillna(0)
df_rides['Driver Cancellation Reason'] = df_rides['Driver Cancellation Reason'].fillna('Unknown')
df_rides['Incomplete Rides'] = df_rides['Incomplete Rides'].fillna(0)
df_rides['Incomplete Rides Reason'] = df_rides['Incomplete Rides Reason'].fillna('Unknown')
df_rides['Booking Value'] = df_rides['Booking Value'].fillna(df_rides['Booking Value'].median())
df_rides['Ride Distance'] = df_rides['Ride Distance'].fillna(df_rides['Ride Distance'].median())
df_rides['Driver Ratings'] = df_rides['Driver Ratings'].fillna(df_rides['Driver Ratings'].median())
df_rides['Customer Rating'] = df_rides['Customer Rating'].fillna(df_rides['Customer Rating'].median())
df_rides['Payment Method'] = df_rides['Payment Method'].fillna('Unknown')
df_rides.isnull().sum()

Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Avg VTAT                             0
Avg CTAT                             0
Cancelled Rides by Customer          0
Reason for cancelling by Customer    0
Cancelled Rides by Driver            0
Driver Cancellation Reason           0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
Payment Method                       0
dtype: int64

#### Checking if the table has duplicated rows and removing them

In [8]:
df_rides.duplicated(subset=['Booking ID']).sum()

np.int64(1233)

In [9]:
df_rides.drop_duplicates(subset=['Booking ID'], inplace=True)
df_rides.duplicated(subset=['Booking ID']).sum()

np.int64(0)

In [10]:
df_rides['Payment Method'].unique()

array(['Unknown', 'UPI', 'Debit Card', 'Cash', 'Uber Wallet',
       'Credit Card'], dtype=object)

In [11]:
df_rides['Booking Status'].unique()

array(['No Driver Found', 'Incomplete', 'Completed',
       'Cancelled by Driver', 'Cancelled by Customer'], dtype=object)

In [12]:
df_rides['Vehicle Type'].unique()

array(['eBike', 'Go Sedan', 'Auto', 'Premier Sedan', 'Bike', 'Go Mini',
       'Uber XL'], dtype=object)

In [13]:
df_rides.to_sql('rides', conn, if_exists = 'replace', index=False)

148767

In [14]:
df_rides

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,8.3,28.8,...,Unknown,0.0,Unknown,0.0,Unknown,414.0,23.72,4.3,4.5,Unknown
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,Unknown,0.0,Unknown,1.0,Vehicle Breakdown,237.0,5.73,4.3,4.5,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,Unknown,0.0,Unknown,0.0,Unknown,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,Unknown,0.0,Unknown,0.0,Unknown,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,Unknown,0.0,Unknown,0.0,Unknown,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,Unknown,0.0,Unknown,0.0,Unknown,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,Unknown,0.0,Unknown,0.0,Unknown,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,Unknown,0.0,Unknown,0.0,Unknown,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,Unknown,0.0,Unknown,0.0,Unknown,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,Unknown,0.0,Unknown,0.0,Unknown,806.0,21.19,4.6,4.9,Credit Card

#### 1.Analysis of revenue and success rates by vehicle type.

In [15]:
query1 = """
SELECT "Vehicle Type",
       SUM("Booking Value") AS Total_Revenue,
       CAST(SUM(CASE WHEN "Booking Status" = 'Completed' THEN 1 ELSE 0 END) AS REAL) * 100/COUNT(*) AS Succes_Bookings_rating
       FROM rides
       GROUP BY "Vehicle Type"
       Order by Total_Revenue DESC;
"""
df_result1 = pd.read_sql(query1, conn)
print("The analysis of revenues and rates of success per vehicle type is:")
print(df_result1)

The analysis of revenues and rates of success per vehicle type is:
    Vehicle Type  Total_Revenue  Succes_Bookings_rating
0           Auto     17711434.0               61.865388
1        Go Mini     14130266.0               62.268237
2       Go Sedan     12924839.0               61.446499
3           Bike     10698720.0               62.375661
4  Premier Sedan      8599586.0               62.161560
5          eBike      4968848.0               61.962134
6        Uber XL      2095659.0               62.528268

#### 2.Identify peak times and most popular pickup locations

In [16]:
query2_hours = """
SELECT strftime('%H', Time) AS Hour,
       COUNT(*) AS Total_Bookings
       FROM rides
       GROUP BY Hour
       ORDER BY Total_Bookings DESC;
"""
df_peak_hours = pd.read_sql(query2_hours, conn)
print("Peak hour analysis:")
print(df_peak_hours)

Peak hour analysis:
   Hour  Total_Bookings
0    18           12298
1    19           10963
2    17           10962
3    16            9565
4    20            9549
5    10            9490
6    11            8309
7    09            8170
8    15            8139
9    21            8031
10   14            6963
11   12            6943
12   08            6806
13   13            5431
14   07            5401
15   22            5397
16   06            4129
17   05            2764
18   23            2739
19   03            1374
20   00            1365
21   01            1347
22   02            1321
23   04            1311

In [17]:
query2_Pickup_Location = """
SELECT "Pickup Location",
  COUNT(*) AS Bookings
FROM rides
GROUP BY "Pickup Location"
ORDER BY Bookings DESC
LIMIT 10;
"""
df_popular_locations = pd.read_sql(query2_Pickup_Location, conn)
print("Analysis of the most popular pickup locations:")
print(df_popular_locations)

Analysis of the most popular pickup locations:
    Pickup Location  Bookings
0           Khandsa       947
1   Barakhamba Road       939
2             Saket       929
3    Pragati Maidan       912
4          Badarpur       912
5             AIIMS       909
6           Madipur       908
7  Dwarka Sector 21       908
8          Mehrauli       904
9     Pataudi Chowk       901

#### 3.Analysis of the reasons for cancellation and their impact.

In [18]:
query3= """
SELECT COALESCE("Reason for cancelling by Customer", "Driver Cancellation Reason") AS Cancellation_reason,
  COUNT(*) AS "Cancelled Rides",
  SUM("Booking Value") AS Potential_revenue_lost
FROM rides
WHERE "Booking Status" LIKE 'Cancelled by%'
GROUP BY Cancellation_reason
ORDER BY "Cancelled Rides" DESC;
"""
df_cancellation_reasons = pd.read_sql(query3, conn)
print(df_cancellation_reasons)

                            Cancellation_reason  Cancelled Rides  \
0                                       Unknown            26789
1                                 Wrong Address             2348
2                               Change of plans             2326
3  Driver is not moving towards pickup location             2315
4                        Driver asked to cancel             2274
5                             AC is not working             1139

   Potential_revenue_lost
0              11090646.0
1                972072.0
2                962964.0
3                958410.0
4                941436.0
5                471546.0

#### 4.Comparison of ratings between drivers and customers, by vehicle type.

In [19]:
query4= """
SELECT "Vehicle Type",
  AVG("Driver Ratings") AS AVG_Drivers_Rating,
  AVG("Customer Rating") AS AVG_Customers_Rating
FROM rides
WHERE "Booking Status" = 'Completed'
GROUP BY "Vehicle Type"
ORDER BY AVG_Drivers_Rating DESC;
"""
df_ratings = pd.read_sql(query4, conn)
print(df_ratings)

    Vehicle Type  AVG_Drivers_Rating  AVG_Customers_Rating
0        Uber XL            4.238590              4.403978
1  Premier Sedan            4.234522              4.403827
2           Auto            4.232268              4.401559
3       Go Sedan            4.231734              4.409921
4           Bike            4.229208              4.403635
5        Go Mini            4.227527              4.403885
6          eBike            4.225571              4.403241

#### 5.Revenue distribution by payment methods

In [20]:
query5 = """
SELECT "Payment Method",
  SUM("Booking Value") AS Total_revenue
FROM rides
WHERE "Booking Status" = 'Completed'
GROUP BY "Payment Method"
ORDER BY Total_revenue DESC;
"""
df_revenue = pd.read_sql(query5, conn)
print(df_revenue)

  Payment Method  Total_revenue
0            UPI     21104861.0
1           Cash     11661552.0
2    Uber Wallet      5624188.0
3    Credit Card      4712151.0
4     Debit Card      3776631.0